python-telegram-bot[job-queue]==22.3
python-telegram-bot[webhooks]==22.3
feedparser==6.0.11
tenacity==9.1.2
pytz==2025.2
torch==2.8.0
transformers==4.55.2
sentencepiece==0.2.1
sacremoses==0.1.1
python-dateutil==2.9.0.post0
psycopg2==2.9.10
fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
bs4==0.0.2
pillow==11.3.0
aiopg==1.4.0
async-timeout==4.0.3
pgvector==0.4.1
scikit-learn==1.7.1
scipy==1.16.1
sentence-transformers==5.1.0
threadpoolctl==3.6.0
nltk==3.9.1
aiohttp==3.12.15
psutil==7.0.0
numpy==2.3.2
PyJWT==2.10.1
dnspython==2.7.0
email-validator==2.3.0
python-multipart==0.0.20